<%= render "devise/shared/error_messages", resource: @event %>

<% if user_signed_in? %>
  <p> Created by <%= current_user.username %>. </p>
<% end %>

<%= form_for (@event) do |f| %>
  <%= f.label :eventname %>
  <br>
  <%= f.text_field :eventname %>
  <br>
  <br>
  <%= f.label :location %>
  <br>
  <%= f.text_field :location %>
  <br>
  <br>
  <%= f.fields_for :user_events do |details| %>

    <%= details.label :foodname %>
    <br>
    <%= details.text_field :foodname %>
    <br><br>
    <%= details.label :foodtype %>
    <br>
    <%= details.text_field :foodtype %>
    <br><br>
    <%= details.label :fuel %>
    <br>
    <%= details.text_field :fuel %>
    <br><br>

  <% end %>
  <%= f.label :finished %>
  <%= f.check_box :finished %>

  <br>
  <br>
  <%= f.submit "Submit" %>
<% end %>
