
<% if @event.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

    <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>



<% if user_signed_in? %>
  <p> Created by <%= current_user.username %>. </p>
<% end %>

<%= form_for (@event) do |f| %>
  <%= f.label :eventname %>
  <br>
  <%= f.text_field :eventname %>
  <br>
  <br>
  <%= f.label :location %>
  <br>
  <%= f.text_field :location %>
  <br>
  <br>
  <%= f.fields_for :user_events do |details| %>

    <%= details.label :foodname %>
    <br>
    <%= details.text_field :foodname %>
    <br><br>
    <%= details.label :foodtype %>
    <br>
    <%= details.text_field :foodtype %>
    <br><br>
    <%= details.label :fuel %>
    <br>
    <%= details.text_field :fuel %>
    <br><br>

  <% end %>
  <br>
  <br>
  <%= f.submit "Submit" %>
<% end %>
