<h2><%= link_to "Create a new event", new_event_path %> </h2>

<hr>
<% if user_signed_in? %>
  <h3> Hello, <%= current_user.username %>. </h3>
<% end %>

<p>You have created <%= current_user.events.count %> event. </p>
<p>Here is a list of all the events that you have created:</p>
<% current_user.events.each do |event| %>
<h4> <%= link_to event.eventname, event_path(event) %> @ <%= event.location %> </h4>
<% end %>

<hr>
<h3>Here are events that are active:</h3>

<% @events.each do |event| %>

  <h4><%= link_to event.eventname, event_path(event) %> @ <%= event.location %>,</h4>

<% end %>
  <hr>
